.container-fluid{
  height: 80%;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-sm-4{
  width: 250px;
  text-align: left;

}
.col-sm-8{
  width: 200px;
  text-align: left;

}
.h2{
  // text-align: center;
  padding-top: 1%;

}

