  <div class="items">
    <mat-card class="example-card" *ngFor="let e of list;let i=index">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ e.imageUrl+ ')'"></div> -->
        <mat-card-subtitle> {{ e.nom ?  e.nom : '-'}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="e.imageUrl" alt="Photo of a Shiba Inu" style="width: 300px;height: 200px;">
      <!-- <mat-card-content class="mat-card-content">
        <h6>{{ e.description }}</h6>
      </mat-card-content> -->
      <mat-card-actions class="button">
        <div class="d-flex flex-row-reverse w-100 pt-3 mb-3">
          <button mat-raised-button color="primary">
            <mat-icon>visibility</mat-icon> Detail
          </button>
         </div>

      </mat-card-actions>
    </mat-card>
    <ng-content></ng-content>
    </div>
