.items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  // :hover {
  //   animation: movemydiv 2s steps(1); /* 3 étapes */
  // }
}


.example-card {
  max-width: 300px;
  margin: 5px;
  .mat-card-content {
    column-count: 3;
    column-gap: 10px;
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    column-rule: 2px solid #555;

    .p {
      column-count: 3;
      column-gap: 10px;
      text-align: justify;
      hyphens: auto;
    }

  }
}

.example-header-image {
  //  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.button {
  display: flex;
  flex-flow: row wrap;
  margin-top: auto;
  flex-direction: row;
}

