.row{
  height: 50%;
  background-color: honeydew;
  display: flex;
flex-direction:column;

}
h2{
  text-align: center;
  background-color: honeydew;
}
.identitie{
  display: flex;
  flex-direction:row;

}
.donnee{
  padding-right: 10%;
}
