.container-fluid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
}
.form-horizontal{
  padding: 50px 50px;
  background-color: rgb(176, 201, 216);
  border: none;
  border-radius: 30px;
}
.form-group{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  justify-content: center;
}
.form-control{
  width: 400px;
}
button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
}
input{
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;

}
