<div class="container-fluid" >
  <h2>Contact Me</h2>
  <form class="form-horizontal" action="/action_page.php">

    <div class="form-group">

      <div class="col-sm-12">
        <input type="text" class="form-control" id="pwd" placeholder="Votre nom">
      </div>
    </div>


    <div class="form-group">

      <div class="col-sm-12">
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
    </div>


    <div class="form-group">

      <div class="col-sm-12">
        <input type="password" class="form-control" id="pwd" placeholder="Votre Message">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>

  </form>
</div>

