
<mat-toolbar color="warn" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-button (click)="snav.toggle()" routerLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/admin']" routerLinkActive="active">App name</span>
    <!-- <button mat-raised-button class="ml-5" [routerLink]="['/desktop']">Systeme-info</button> -->
    <span style="flex: 1 1 auto;"></span>

    <button mat-button [matMenuTriggerFor]="beforeMenu">
      EL <b>(DEV)</b>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/admin/dash/me']" routerLinkActive="router-link" >Info Compte</button>
      <button mat-menu-item (click)="disconnect()">Se déconnecter</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!--  -->
<mat-sidenav-container #sidenav class="example-sidenav-container" style=" z-index: 9; height: 100vh;">
  <mat-sidenav #snav [mode]="isMobileWidth ? 'push' : 'side'" [opened]="!isMobileWidth" [fixedInViewport]="true"
    fixedTopGap="49.9">
    <mat-nav-list class="list" style="width: 220px; padding: 0;">
      <div class="logo p-3">
        <img src="assets/photo.jpg" alt="mourabit mohamed" width="100%">
      </div>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/admin/blog']" routerLinkActive="router-active">
        <span>Blog</span>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item [routerLink]="['/admin/projet']" routerLinkActive="router-active">
        <span>projet</span>
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main style="margin-top: 65px;">
      <div class="ml-3 mr-3 mb-5">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


