<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span [routerLink]="['/accueil/home']">MyEL</span>
    <!-- <button mat-raised-button [routerLink]="['/accueil/home']" routerLinkActive="router-active">Home</button>
    <button mat-raised-button [routerLink]="['/accueil/about']" routerLinkActive="router-active">about</button>
    <button mat-raised-button [routerLink]="['/accueil/services']" routerLinkActive="router-active">services</button> -->
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button [routerLink]="['/accueil/contact']" routerLinkActive="router-active">contact</button>  -->
    <button mat-raised-button [routerLink]="['/admin']" routerLinkActive="router-active">Back-office</button>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>

