<div class="container-fluid">

  <div class="row">
   <div class="col-md-4">
    <mat-card class="example-card" >
     <mat-card-header class="header-card">
      <mat-icon>location_on</mat-icon>
      <!-- <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ e.imageUrl+ ')'"></div> -->
     </mat-card-header>

     <mat-card-content class="mat-card-content">
      <p>Le Lorem Ipsum est simplement  impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,</p>
     </mat-card-content>

    </mat-card>
   </div>

   <div class="col-md-4">
    <mat-card class="example-card" >
     <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ e.imageUrl+ ')'"></div> -->
         </mat-card-header>
     <img mat-card-image [src]="" alt="Photo of a Shiba Inu"  style="width: 300px;height: 200px;">
     <mat-card-content class="mat-card-content">
      <h6>uuuuuu</h6>
     </mat-card-content>

    </mat-card>
   </div>

   <div class="col-md-4">
    <mat-card class="example-card" >
     <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ e.imageUrl+ ')'"></div> -->
         </mat-card-header>
     <img mat-card-image [src]="" alt="Photo of a Shiba Inu"  style="width: 300px;height: 200px;">
     <mat-card-content class="mat-card-content">
      <h6>uuuuuu</h6>
     </mat-card-content>

    </mat-card>
   </div>
 </div>
</div>
